<% provide(:title, "統計") %>
<%= link_to "前の週へ", statictics_up_path, method: :post %>
<% if session[:up] != nil %>
<%= link_to "次の週へ", statictics_down_path, method: :post　%>
<% end %>
<%= column_chart @data, xtitle: "日付", ytitle: "タイム(時間)" %>
<%= will_paginate @starts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<ul class="time_stamps" >
        <% @starts.each do |start| %>
            <% en = @ends.find_by(start_id: start.id) %>
            <% if en %>
                <li class="list-group-item">
                <p> <%= start.time.strftime("%Y/%m/%d") %> &nbsp;&nbsp;&nbsp;&nbsp;　<%= link_to "この記録を削除", "/start/#{start.id}/destroy", method: :delete, class:"link" %> </p>    
                <p> 開始: <%= start.time.strftime('%H時 %M分') %> &nbsp;&nbsp; <%= link_to "編集", "/start/#{start.id}/edit" %></p>
                <p> 終了: <%= en.time.strftime('%H時 %M分') %> &nbsp;&nbsp; <%= link_to "編集", "/end/#{en.id}/edit" %> </p>
                <p> タイム: <%= Time.at((en.time - start.time).floor).utc.strftime('%X') %> </p>
                </li>
            <% end %>
        <% end %>    
</ul>
<%= will_paginate @starts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>