<% provide(:title, "トップページ") %>
<% if logged_in? %>
<div class = "container">
<% if @start.count == @end.count + 1 %>
<p class="timer" id="timer" data-time='<%= @time %>'  ></p>
<% else %>
<p class="dummy-timer"> 00:00:00 </p>
<% end %>
<script type="text/javascript">


  setInterval(function(){
    const time = $('#timer').data('time');
    var now = new Date();
    var timer = Math.floor((now.getTime() - time)/1000);
    var hour = ( "00" + Math.floor(timer / 3600)).slice(-2);
    var minute = ( "00" + Math.floor((timer / 60)%60)).slice(-2);
    var second = ("00" + timer % 60).slice(-2);
    $('#timer').text(hour + ":" + minute + ":" + second);
  },1000);
 
</script>

<p>
<% if @start.count - @end.count == 0 %>
    <%= link_to "スタート","/start/create", method: :post, class: "btn btn-lg btn-info", id:"startcount" %>
<% end %>
<% if @start.count - 1 == @end.count %>
    <%= link_to "ストップ","/end/create", method: :post, class: "btn btn-lg btn-primary", id:"endcount" %>
<% end %>
</p>
</div> 

<% else %>
<div class="center">
  <h1><span style="color:skyblue">Time Keeper</span>にようこそ！</h1>

  <h2>
    これは勉強時間を記録してくれるアプリです。記録した時間はグラフなどで確認できます！
  </h2>

  <%= link_to "今すぐ登録！", signup_path, class: "btn btn-lg btn-info" %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-lg btn-info" %>
</div>
<% end %>