<%= render 'layouts/head' %>
  <body>
  <div id = "container">
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>

<script>
  $(function(){
    $(".alert").fadeOut(5000);
  });
</script>